
@import url(https://fonts.googleapis.com/css2?family=Schoolbell&display=swap);
/*nav positioning*/
#nav, #mobilenav {
font-size: 14pt;
position: absolute;
top: -3em;
height: fit-content;
margin-top: 0.25em;
text-align: center;
display: flex;
flex-direction: row;
justify-self: center;
gap: 1em
}
/*nav styling*/
#nav a, #nav a:visited, #mobilenav a, #mobilenav a:visited {
background: #fff;
padding-left: 0.25em;
padding-right: 0.25em;
border-radius: 0.25em;
color: black;
border: 4px dotted #ff623c;
box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.75)
}
#nav a:hover, #mobilenav a:hover {
transform: scale(1.15)
}
/*hiding things*/
hr, .pet--statsheader, .pet--smallname, .petJobs, #petLead, #page_footer, #petBattle, #sb_top, #sb_side, #page_banner, #petLinks, #mobilenav {
    display: none
}
/*background*/
body {
    background-image: url(https://i.postimg.cc/sXxHNrpM/Glittering-Forest.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: black;
    font-family: schoolbell
}
/*centering*/
#page_event {
margin: 0
}
#container {
margin: auto;
display: flex;
flex-direction: column;
width: 100dvw;
min-height: 100dvh;
height: fit-content
}
#page_content {
display: flex;
margin: auto;
width: 100vw;
min-height: 100%;
justify-content: center;
align-items: center;
height: fit-content
}
/*title*/
.pet--name {
    display: block;
    font-size: 48pt;
    color: #ffda2e;
    text-shadow: 1px 1px 1px black
}
.pet--header {
    font-size: 16pt;
    margin-top: 0;
    background-color: white;
    border-radius: 0.35em;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.75);
    padding-bottom: 0.25em;
    border: 6px dotted #a574b6
}
.pet--color:after {
    content: "?"
}
/*container*/
#petLookupContent {
max-width: 44em;
margin: auto;
position: relative;
border-radius: 0.75em;
padding-bottom: 1em;
color: black
}
/*info*/
#petImage {
width: 100%
}
#petInfo {
grid-template-columns: 50% 50%;
max-width: 43em;
width: 100%;
gap: 1em;
justify-content: center;
background-color: white;
border-radius: 0.35em;
box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.75);
padding-bottom: 0.5em;
padding-top: 0.5em;
border: 6px dotted #73de00
}
#petStats {
background-color: transparent;
font-size: 14pt;
padding: 0
}
#petStats a {
color: indigo
}
#petStats a:hover {
color: purple
}
#petTraits {
font-size: 11pt
}
/*extras*/
#petPetpet {
position: absolute;
width: 48%;
top: 22em
}
.pet--petpetheader, .pet--petpetdesc {
    font-size: 10pt
}
.pet--petpetage {
    display: none
}
.pet--petpetzapped {
    color: transparent;
    position: relative;
    bottom: 12em;
    right: 3em;
    transform: rotatey(180deg)
}
.pet--petpetname {
    display: block;
    font-size: 24pt;
    color: #ffda2e;
    text-shadow: 1px 1px 1px black
}
.pet--no-trade-alert {
    position: absolute;
    background-color: transparent;
    color: red;
    bottom: -2.25em;
    font-weight: bold;
    text-shadow: -1px 1px 2px black;
    left: 0;
    width: 100%
}
.pet--no-trade-text {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 0.25em;
    border-radius: 0.5em
}
.pet--no-trade-icon {
    display: none
}
/*custom content*/
#petDescription {
display: grid;
grid-template-columns: 50% 50%;
width: 100%;
gap: 1em;
justify-content: center;
font-size: 14pt
}
#petDescription h2 {
line-height: 0.5em
}
#testimonials, #bio {
border-radius: 0.35em;
padding-left: 0.35em;
padding-right: 0.35em;
box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.75);
background-color: white;
border: 6px dotted #69bdf3
}
#testimonials {
margin-left: 0.5em;
padding-bottom: 1em;
}
#quotes {
display: flex;
flex-direction: column;
height: 100%;
justify-content: space-around;
}
#bio {
margin-right: 0.5em
}
