@import url(https://db.onlinewebfonts.com/c/ecf8b6daaa72c686ad13dd7612d764d6?family=Engravers%27+Gothic);
@import url(https://db.onlinewebfonts.com/c/4784beb8aa418f3149a1621b898000a7?family=DollarBill);
@import url(https://db.onlinewebfonts.com/c/406ab8eaf1739db4a2cb9d03fd147d36?family=Dollar);
            /*nav positioning*/
#nav, #mobilenav {
    font-size: 12pt;
    position: absolute;
    top: -70px;
    height: fit-content;
    margin-top: 0.75em;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-self: center;
    gap: 1em;
    font-family: "engravers' gothic";
    }
/*nav styling*/
#nav a, #nav a:visited, #mobilenav a, #mobilenav a:visited {
    background: #3772b3;
    padding-left: 0.25em;
    padding-right: 0.25em;
    color: #e3f1ff;
    border: 5px solid #3772b3;
    letter-spacing: .1em;
    }
#nav a:hover, #mobilenav a:hover {
    transform: scale(1.15)
    }
/*hiding things*/
hr, .pet--statsheader, .pet--smallname, .petJobs, #petLead, #page_footer, #petBattle, #sb_top, #sb_side, #page_banner, #petLinks, #mobilenav {
    display: none
    }
/*background*/
body {
    background-image: url(https://i.postimg.cc/43RGN29K/mafia.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: black
    }
/*centering*/
#page_event {
    margin: 0
    }
#container {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 100dvw;
    min-height: 100dvh;
    height: fit-content
    }
#page_content {
    display: flex;
    margin: auto;
    width: 100vw;
    min-height: 100%;
    justify-content: center;
    align-items: center;
    height: fit-content
    }
/*title*/
.pet--name {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 30pt;
    font-family: dollar;
    font-weight: lighter;
    color: #e3f1ff;
    text-shadow:4px 3px 0px #3772b3;
    position: relative;
    top: -332px;
    }
.pet--header {
    font-family: dollar;
    font-size: 24pt;
    position: relative;
    bottom: -358px;
    text-shadow:4px 2px 0px #3772b3;
    color: #e3f1ff
    }
.pet--color {
    text-shadow: 3px 2px 0px #e3f1ff
}
.pet--color:hover {
    text-shadow:4px 2px 0px #3772b3;
    color: #e3f1ff
}
/*container*/
#petLookupContent {
    width: 700px;
    position: relative;
    padding-bottom: 1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.75);
    color: #3772b3;
    border: 1.5em solid #e3f1ff;
    background-image: url(https://i.postimg.cc/ncGr4TRy/guilloche.png);
    font-family: "Engravers' Gothic";
    filter: brightness(90%)
}
    }
/*info*/
#petImage {
    width: 100%;
    height; 100%;
    background-color: #d8ebff;
    }
.pet--image {
    content: url(https://i.postimg.cc/05TKdcYn/Snow-Flotsam.png)
}
#petTop {
    justify-items: center;
    margin-top: -50px
}
#petInfo {
    grid-template-columns: 40% 60%;
    gap: 1em;
    width: 620px;
    justify-content: center;
    background-color: #e3f1ff;
    border: 10px solid #e3f1ff;
    margin-top: -3em;
    }
#petStats {
    background-color: transparent;
    font-size: 14pt;
    line-height: 1.05em;
    padding: 0
    }
#petStats a, #petStats a:visited {
    color: #3772b3;
    font-style: italic;
}
#petStats a:hover {
    color: #e3f1ff;
    text-shadow: 0px 0px 2px #3772b3
}
.pet--hpcolor {
    color: #3772b3
}
.pet--gendercolor {
    color: #3772b3
}
#petTraits {
    font-size: 11pt
    }
/*extras*/
#petPetpet {
    position: absolute;
    width: 40%;
    top: 220px
    }
.pet--petpetimg {
    mix-blend-mode: darken;
}
.pet--petpetheader, .pet--petpetdesc {
    font-size: 10pt
    }
.pet--petpetage {
    display: none
    }
.pet--petpetname {
    display: block;
    font-size: 14pt;
    font-family: dollar;
    margin-top: 5px;
    }
.pet--no-trade-alert {
    position: absolute;
    background-color: transparent;
    color: #e3f1ff;
    bottom: -60px;
    font-weight: bold;
    text-shadow: -1px 1px 2px black;
    left: 0;
    width: 100%;
    font-size: 14pt;
    }
.pet--no-trade-text {
    background-color: #3772b3;
    padding: 0.25em;
    border-radius: 0.5em
    }
.pet--no-trade-icon {
    display: none
    }
/*custom content*/
#petDescription {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 15px;
    gap: 1em;
    justify-content: center
    }
#petDescription h2 {
    line-height: 0.5em
    }
#testimonials, #bio {
   display: none;
    }
