
            /*STYLE*/
            body {
                background-image: url(https://i.postimg.cc/br6RGWGV/lu20tsf9akn31.png)
            }
            #nav a, #nav a:visited, #mobilenav a, #mobilenav a:visited {
            background: #fff;
            color: black;
            border: 3px solid white;
            font-size: 12pt
            }
            #petLookupContent {
            border-radius: 0.75em;
            border: 5px solid #411085;
            box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.75)
            }
            .pet--name {
                font-size: 48pt
            }
            .pet--header {
                font-size: 14pt;
                margin-top: 0
            }
            .pet--petpetheader, .pet--petpetdesc {
                font-size: 10pt
            }
            #petStats {
            font-size: 11pt
            }
            #petTraits {
            display: none;
            }
            #testimonials, #bio {
            font-size: 11pt;
            border: 2px solid black;
            border-radius: 0.35em
            }
            /*HIDE SHIT*/
            hr, .pet--petpetage, .pet--statsheader, .pet--smallname, .petJobs, #petLead, #page_footer, #petBattle, #sb_top, #sb_side, #page_banner, #petLinks, #mobilenav, #aio_sidebar_placeholder {
                display: none
            }
            .pet--no-trade-text {
                background-color: rgba(0, 0, 0, 0.75);
                color: red;
            }
            /*BREAK SHIT*/
            #petDescription, main, #petTop, #petInfo, #petPetpet, .pet_all_petpets, .pet_petpet {
            display: contents
            }
            /*CENTERING*/
            #container {
            margin: auto;
            display: flex;
            flex-direction: column;
            width: 100dvw;
            min-height: 100dvh;
            height: fit-content;
            justify-content: center;
            align-items: center
            }
            /*NAVIGATION*/
            /*FORMATTING*/
            body {
                background-size: cover;
                background-position: center;
                background-attachment: fixed
            }
            #petLookupContent {
            display: grid;
            grid-template-areas: "header header header" "pet p2img stats" "p2header p2header stats" "p2desc p2desc stats" "space spacer stats" "desc desc desc";
            grid-template-columns: 30% 20% 50%;
            grid-template-rows: auto auto auto auto auto auto auto;
            width: fit-content;
            max-width: 44em;
            margin: auto;
            position: relative;
            background-color: white;
            border-radius: 0.75em;
            padding-bottom: 1em;
            padding-left: 1em;
            padding-right: 1em;
            box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.75);
            color: black;
            gap: 0
            }
            #nav, #mobilenav {
            position: fixed;
            top: 0;
            height: fit-content;
            margin-top: 0.75em;
            text-align: center;
            display: flex;
            flex-direction: row;
            justify-self: center;
            gap: 1em
            }
            #nav a, #nav a:visited, #mobilenav a, #mobilenav a:visited {
            padding-left: 0.25em;
            padding-right: 0.25em;
            border-radius: 0.25em
            }
            #nav a:hover, #mobilenav a:hover {
            scale: 1.15
            }
            .pet--name {
                display: block
            }
            .pet--header {
                grid-area: header
            }
            #petImage {
            grid-area: pet;
            justify-self: right
            }
            .pet--petpetimg {
                grid-area: p2img;
                margin-right: 0.5em;
                align-self: end;
                justify-self: left
            }
            .pet--petpetheader {
                grid-area: p2header;
                font-size: 0;
            }
            .pet--petpetheader:before {
                content:'"';
                font-size: 10pt;
            }
            .pet--petpetheader:after {
                content: "I love my petpet,";
                font-size: 10pt;
            }
            .pet--petpetdesc {
                grid-area: p2desc
            }
            .pet--petpetdesc:after {
                content: '!"'
            }
            #petStats {
            grid-area: stats;
            margin-left: 0.5em;
            background: none
            }
            #desc {
            grid-area: desc;
            display: grid;
            grid-template-areas: "testimonials bio";
            grid-template-columns: 50% 50%;
            justify-content: center;
            margin-top: 1em
            }
            #bio {
            margin-left: 0.5em
            }
            #testimonials {
            margin-right: 0.5em
            }
            #testimonials, #bio {
            border-style: solid;
            border-width: 2px;
            border-color: #000;
            border-radius: 0.35em;
            padding-left: 0.35em;
            padding-right: 0.35em
            }
            .pet--no-trade-alert {
                position: absolute;
                background-color: transparent;
                bottom: -2.25em;
                font-weight: bold;
                text-shadow: -1px 1px 2px black;
                left: 0;
                width: 100%
            }
            .pet--no-trade-text {
                padding: 0.25em;
                border-radius: 0.5em
            }
            .pet--no-trade-icon {
                display: none
            }
